.login-card{
  width:20rem; 
  justify-content: center; 
  background: rgba(255,255,255,0.8);
}



.mat-card{
  background:transparent;
}
.mat-form-field {
  width: 100%;
  /* min-width: 300px; */
}

.mat-card-content {
  /* display: flex; */
  justify-content: center;
}

.button {
  display: flex;
  justify-content: flex-end;
}