
mat-card{
  width:auto; 
  
  align-items: center; 
  background: rgba(162,139,184,0.8);
  border-radius: 20px;

  margin-left: 250px;
  margin-right: 250px;
  margin-top: 100px;

}
a:link,a:visited{
  text-decoration: none;
}
a{
  color:#457da5
}
#main_text{
  margin-top:5px;

}

#templateForContent{
  clear: both;
  display: block;
  margin: 0px auto;
  padding: 20px 0;
  min-height: 400px;
  min-width:600px;
}
#container-text{
  float:left;
  margin:0;
  width:calc(100%-330px);
  margin-top:10%;
  margin-left:10%;
  

}
#entry-about{
  display:block;
  height:700px;
  padding:0;
  /* margin-bottom:36px; */
  overscroll-behavior-y: auto;
  overflow-y: overlay;
}
#entry-partners{
  display:block;
  overflow:hidden;
  padding:0;
  margin-bottom:36px;
}

.entry-title{
  font-size: 42px;
}
.entry-content{
  clear:both;
  padding-top:8px;
  word-wrap: break-word;
}

#img-container{
  margin:0;
  width:90%;
  margin-top:10%;
}
#text_p{
  margin-right: 1em;
}