<div class="mdl-grid" style="align-items: left;">
  <div class="mdl-cell mdl-cell--4-col">
    <div id="main-text">
      <div id="templateForContent">
          <div id="container-text" [ngSwitch]="isAbout">
            <div id="entry-about" *ngSwitchCase="'about'"> 
              
              <p id="text_p">
                The Landscape Data Commons is an inter-agency monitoring 
                data repository and portal, led by the USDA-ARS at the 
                Jornada Experimental Range, that connects standardized 
                monitoring data to analysis tools to support land management 
                and research. The Landscape Data Commons aggregates core methods 
                data collected across agencies and monitoring programs (e.g., AIM, 
                NRI, the National Wind Erosion Research Network, smaller research 
                and monitoring efforts). With these aggregated data, the Landscape 
                Data Commons supports natural resource management, modeling, and 
                research. The Landscape Data Commons provides consistent indicator 
                calculations and distributions of indicators by classification unit 
                (e.g., ecological site), connects these data to wind and water 
                erosion models (e.g., AERO and RHEM),  remote sensing models 
                (e.g., RAP), and decision support tools (e.g., the Land Treatment 
                Exploration Tool, the Ecological Dynamics Interpretive Tool). 
              </p>
              <p>
                To get involved, contact Sarah McCord (<a href="sarah.mccord@usda.gov">sarah.mccord@usda.gov</a>) or Nicholas Webb (<a href="sarah.mccord@usda.gov">nwebb@nmsu.edu</a>).
              </p>
              <img id="img-container" src="assets\LDC_diagram_2020-10-30.jpg">
            </div>

            <div id="entry-partners" *ngSwitchCase="'partners'">
                <h2 class="entry-title">Partner Programs</h2>
                <p>The Landscape Data Commons is a partnership of a diversity of monitoring programs. </p>
                <p></p>
                <p>
                  <strong>
                    Bureau of Land Management Assessment, Inventory, and Monitoring Program
                  </strong>
                </p>
                <p>
                  The Assessment, Inventory, and Monitoring (AIM) provides a framework for the Bureau of
                  Land Management (BLM) to inventory and quantitatively assess the condition and trend of
                  natural resources on the nation's federal public lands. AIM data are collected through
                  a combination of probabilistic surveys and target sampling at national, regional, and 
                  project scales. Terrestrial AIM data include line-point intercept, gap intercept, vegetation height, 
                  and species inventory. Many plots also contain soil stability values and 70 cm soil pits. 
                  (<a href="https://aim.landscapetoolbox.org">https://aim.landscapetoolbox.org</a>)
                </p>
                <p></p>
                <p>
                  <strong>
                    National Wind Erosion Research Network
                  </strong>
                </p>
                <p>
                  The National Wind Erosion Research Network is a multi-partner effort, led by the USDA-ARS, 
                  with three general aims: (1) provide data to support understanding of wind erosion rates 
                  across land use and land cover types under different management systems, (2) support the 
                  development of an all-lands wind erosion model and decision support tools for managing wind 
                  erosion and air quality, and (3) facilitate collaboration across agencies and the research 
                  community in addressing these challenges. The network uses standardized sensors to measure 
                  aeolian sediment transport rates, dust deposition, dust concentrations and dust emission, 
                  and collects line-point intercept, vegetation height and gap intercept methods for soil 
                  surface and vegetation properties. Vegetation monitoring methods and models used by the 
                  network are consistent with those used by BLM AIM and NRCS NRI 
                  (<a href="https://winderosionnetwork.org">https://winderosionnetwork.org</a>).
                </p>
                <p></p>
                <p>
                  <strong>
                    Natural Resources Conservation Service National Resources Inventory
                  </strong>
                </p>
                <p>
                  The National Resources Inventory (NRI) Grazinglands On-site program is a Natural Resources
                  Conservation Service (NRCS) survey which collects core indicators on private, state, and 
                  tribal pasture and rangelands. The NRI survey collects line-point intercept, vegetation 
                  height, gap intercept, soil stability, and annual production methods in addition to qualitative
                  assessments on the attributes of rangeland health and management concerns 
                  (<a href="https://grazingland.cssm.iastate.edu/">https://grazingland.cssm.iastate.edu/</a>).
                </p>
                <p></p>
                <p>
                  Additional monitoring datasets and partners will be added in the near future. 
                  To become a partner, contact Sarah McCord (<a href="sarah.maccord@usda.gov">sarah.mccord@usda.gov</a>).
                </p>
            </div>
            <div id="entry-partners" *ngSwitchCase="'development'">
              <h2 class="entry-title">Developer Resources</h2>
              
          </div>
          </div>
      </div>
    </div>  
  </div>
 
    <!-- <p>
      The Landscape Data Commons is an inter-agency monitoring data repository and portal, led by the USDA-ARS at the Jornada Experimental Range, that connects standardized monitoring data to analysis tools to support land management and research. The Landscape Data Commons aggregates core methods data collected across agencies and monitoring programs (e.g., AIM, NRI, the National Wind Erosion Research Network, smaller research and monitoring efforts). With these aggregated data, the Landscape Data Commons supports natural resource management, modeling, and research. The Landscape Data Commons provides consistent indicator calculations and distributions of indicators by classification unit (e.g., ecological site), connects these data to wind and water erosion models (e.g., AERO and RHEM),  remote sensing models (e.g., RAP), and decision support tools (e.g., the Land Treatment Exploration Tool, the Ecological Dynamics Interpretive Tool). 
    
    To get involved, contact Sarah McCord (sarah.mccord@usda.gov) or Nicholas Webb (nwebb@nmsu.edu).
    </p> -->

</div>