

  <div 
  id="map"
  leaflet 
  [leafletOptions]="options"
  (leafletMapReady)="onMapReady($event)"
  (leafletMapMoveEnd)="handleMapMoveEnd($event)"
  (leafletMapZoomEnd)="handleEvent('mapZoomEnd', $event)"
  >




    

</div>
  <!-- <app-panel style="z-index: 2000; position: absolute; top:20px; left: 10px;" [childMap]="map"> -->
    
    
    <!-- (addMark)="showMarkers()" -->
    <!-- [childMessage]="Public"> -->
 <!-- </app-panel> -->



<!-- (addMark)="mrkr===false ? addMarks() : removeMarks()" -->
