
.item {
  z-index: 1;
  background-image: url("/assets/mountain_plains.jpg");
  background-position:center;
  position: fixed;
  background-repeat: no-repeat;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}