
.flex-container{
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
}
.flex-container>div{
  width:100%
}
.left-div{
  text-align: left;
}
.right-div{
  text-align: right;
}

.inner-card{
  max-height: 50px;
  border:solid;
  border-width: thin;
  box-shadow: 0;
}

.card-image{
  max-height:15%;
  max-width:15%;
  vertical-align: baseline;
}
.management-card{
  border:solid;
  border-width: thin;
  box-shadow: 0;
  height:300px; 
  overflow-y:auto;
}
.management-image{
  vertical-align: baseline;
  max-width: 216px;
}

.lrr-card{
  border:solid;
  border-width: thin;
  box-shadow: 0;
  height:300px; 
  overflow-y:auto;
}
.lrr-image{
  vertical-align: baseline;
}


.mat-icon.mat-icon-inline {
  font-size: 24px !important;
  height: 100%;
  line-height: inherit;
  width: 100%;
  vertical-align: center;
}
