
.flex-container{
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
}
.flex-container>div{
  width:100%
}
.left-div{
  text-align: left;
}
.right-div{
  text-align: right;
}


.mat-icon.mat-icon-inline {
  font-size: 24px !important;
  height: 100%;
  line-height: inherit;
  width: 100%;
  vertical-align: center;
}
