<div class="mdl-grid" style="align-items: left;">
  <div class="mdl-cell mdl-cell--4-col">
    <mat-card>
      <p>
        The Landscape Data Commons is an inter-agency monitoring 
        data repository and portal, led by the USDA-ARS at the 
        Jornada Experimental Range, that connects standardized 
        monitoring data to analysis tools to support land management 
        and research. The Landscape Data Commons aggregates core methods data collected across agencies and monitoring programs (e.g., AIM, NRI, the National Wind Erosion Research Network, smaller research and monitoring efforts). With these aggregated data, the Landscape Data Commons supports natural resource management, modeling, and research. The Landscape Data Commons provides consistent indicator calculations and distributions of indicators by classification unit (e.g., ecological site), connects these data to wind and water erosion models (e.g., AERO and RHEM),  remote sensing models (e.g., RAP), and decision support tools (e.g., the Land Treatment Exploration Tool, the Ecological Dynamics Interpretive Tool). 
      </p>
      <p>
        To get involved, contact Sarah McCord (sarah.mccord@usda.gov) or Nicholas Webb (nwebb@nmsu.edu).
      </p>
    </mat-card>
  </div>
 
    <!-- <p>
      The Landscape Data Commons is an inter-agency monitoring data repository and portal, led by the USDA-ARS at the Jornada Experimental Range, that connects standardized monitoring data to analysis tools to support land management and research. The Landscape Data Commons aggregates core methods data collected across agencies and monitoring programs (e.g., AIM, NRI, the National Wind Erosion Research Network, smaller research and monitoring efforts). With these aggregated data, the Landscape Data Commons supports natural resource management, modeling, and research. The Landscape Data Commons provides consistent indicator calculations and distributions of indicators by classification unit (e.g., ecological site), connects these data to wind and water erosion models (e.g., AERO and RHEM),  remote sensing models (e.g., RAP), and decision support tools (e.g., the Land Treatment Exploration Tool, the Ecological Dynamics Interpretive Tool). 
    
    To get involved, contact Sarah McCord (sarah.mccord@usda.gov) or Nicholas Webb (nwebb@nmsu.edu).
    </p> -->

</div>