
<mat-accordion>
  <mat-expansion-panel class="main-accordion">
    <mat-expansion-panel-header class="main-tr">
      
    </mat-expansion-panel-header>
    <!-- <mat-card class="main-card"> -->
      <hr>
      <div class="panel-content">
        <div class="row">
          <div class="col-3">
            <div id="drawingDiv"></div>
            
          </div>
          <div class="col-9">
            <div id="layersDiv">
              <a href (click)="testFilter()">filter test</a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            
          </div>
        </div>
            
       
       
        
          
        
      
    </div>
  </mat-expansion-panel>
</mat-accordion>
  
  <!-- <mat-form-field class="main-full-width"> -->
    <!-- <input matInput placeholder="Search"> -->
  <!-- </mat-form-field> -->




  <!-- <mat-button-toggle-group mat-button class="thebutton"
    (click)="onClick()">
  <mat-button-toggle value="left" (mouseover)="changeText=true" (mouseout)="changeText=false">
    <mat-icon>filter_list</mat-icon>
  </mat-button-toggle>
  
  <mat-button-toggle value="left">
    <mat-icon>create</mat-icon>
  </mat-button-toggle>
  </mat-button-toggle-group>
  <mat-card *ngIf="changeText" class="main-card"></mat-card> -->





  <!-- <mat-card *ngIf="changeText" class="main-card"> -->



  <!-- <span [(ngModel)]="Public">Public:</span>        -->
<!-- </mat-card> -->

  <!-- <mat-accordion> class="main-tr">
    <mat-expansion-panel class="main-accordion">
        <mat-expansion-panel-header class="main-tr">
          Filters
        </mat-expansion-panel-header>
      
        <mat-grid-list cols="2" rowHeight="2:1">
          <mat-grid-tile><button mat-button>Filter 1</button></mat-grid-tile>
          <mat-grid-tile><button mat-button>Filter 2</button></mat-grid-tile>
          <mat-grid-tile><button mat-button>Filter 3</button></mat-grid-tile>
          <mat-grid-tile><button mat-button>Filter 4</button></mat-grid-tile>

        </mat-grid-list>

      </mat-expansion-panel>
     
    </mat-accordion> -->

