<mat-card class="main-card">
  <mat-form-field class="main-full-width">
    <input matInput placeholder="Search">
  </mat-form-field>
  <button mat-button>Show Table</button>    
</mat-card>

  <mat-accordion class="main-tr">
    <mat-expansion-panel class="main-accordion">
        <mat-expansion-panel-header class="main-tr">
          Filters
        </mat-expansion-panel-header>
      
        <mat-grid-list cols="2" rowHeight="2:1">
          <mat-grid-tile><button mat-button>Filter 1</button></mat-grid-tile>
          <mat-grid-tile><button mat-button>Filter 2</button></mat-grid-tile>
          <mat-grid-tile><button mat-button>Filter 3</button></mat-grid-tile>
          <mat-grid-tile><button mat-button>Filter 4</button></mat-grid-tile>

        </mat-grid-list>

      </mat-expansion-panel>
     
    </mat-accordion>

