@import "leaflet-sidebar-v2/css/leaflet-sidebar.min.css";

/* You can add global styles to this file, and also import other style files */
.mainMenu {
  padding: 6px 8px;
  /* font: Comic, sans-serif; */
  background: white;
  background: rgba(255,255,255);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  width: 300px;
}

html, body { 
  height: 100%; 
  width: 100%; 
  /* position: fixed; */
 }
.mat-tab-group>.mat-tab-header .mat-tab-label{
  min-width: 10px;
}

.mat-tab-labels { padding: 0 10px; }

.fa {
  line-height:40px !important;
}

.target::after {
  content : "my_location"
}

.material-icons {
  line-height:40px !important;
}

.fa {
  line-height:40px !important;
}

.icon {
  line-height: 30px !important;
}
